<nav mat-tab-nav-bar class="navbar">
    <a
        mat-tab-link
        routerLinkActive
        #routerLinkActive="routerLinkActive"
        *ngFor="let link of navHrefs"
        [routerLink]="link.path"
        [active]="routerLinkActive.isActive"
    >
        {{ link.label }}
    </a>
</nav>

<form class="toolbar" [formGroup]="form">
    <mat-form-field class="toolbar__select" style="margin-bottom: -1.25em">
        <mat-label>Телеканалы</mat-label>
        <mat-select formControlName="filterGenre">
            <mat-option *ngFor="let genre of channelsLoadDataService.showGenreList$ | async" [value]="genre.genreID">
                {{ genre.genreName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
